
body{
	
	background-color : #ffffff;
	background-image : url('');
	}
/*
	div {
		background-color:#000000;/*#0000FF;/*#0000CD;/*#00008B;/*#4682B4;/*#00CED1;/*#87CEEB;/*CC99CC;/*#00BFFF;/*#6495ED;*
		opacity:0.6;
  		filter:alpha(opacity=60);
		/*background-image: url('bg.jpg');
		/*background-repeat:no-repeat;*
		font-size:35px;
		font-weight: bold;
		color: #FFFFFF;
		text-align: centre;

		}
*/
#inputs
{
font-weight:bold;
font-size:18px;
}
#title_bar
{
width:1100px;
height:130px;
-webkit-border-radius: 99px 98px 99px 99px;
-moz-border-radius: 99px 98px 99px 99px;
border-radius: 99px 98px 99px 99px;
background-color:#87CEEB;/*#0000FF;/*#0000CD;/*#00008B;/*#4682B4;/*#00CED1;/*#87CEEB;/*CC99CC;/*#00BFFF;/*#6495ED;*/
opacity:0.6;
filter:alpha(opacity=60);
font-size:30px;
font-weight: bold;
color: #00000;
text-align: centre;

/*background-color:#E3A20B;">*/
}

/*#container_back*/
section
{
box-shadow:10px 5px 40px 20px #051f3c;
position:relative;
width:1250px;
margin:10px auto;
z-index:10;
}
.ttle
{

color:  #765;/*#FFFFFF;/*#191970;*/
font-family : 'Helvetica';
font-size : 35px;
font-weight: bold;
}
/*
	p {
  color : #000000;
  font-family : 'Arial narrow';
  /*font-size : medium;*
  /*background-color : #ff8a23;*
}
h1 {
  color : #ff0000;
  font-weight : bold;
  font-variant : small-caps;
}
h2 {
  color : #0000ff;
  font-style : italics;
}*/
.note {

 /* background-color : #ffff00;*/
	font-size:25px;
  font-weight : bold;
}
.temp {
font-color: #123456;
font-size: large;
background-color : #dddddd;
}
</style>

